html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
}

section {
  width: 100%;
}

.bloco {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  overflow: hidden;
  padding: 30px 0 50px 0;
}

.bloco hr {
  width: 30px;
}

.cor_fundo {
  background: #f7f7f7;
}

.cor_texto {
  color: #fff;
}


/* --------  Header  -------- */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #E7E7E7;
}

header #logo {
  position: absolute;
  top: 15%;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5%;
}

header #logo img{
  max-width: 100%;
  max-height: 100%;
}

header .menu {
  float: right;
  list-style: none;
  margin-right: 5%;
}

header .menu li {
  float: left;
  font-size: 18px;
  padding: 5px 15px;
  color: initial;
  text-decoration: initial;
}

header .menu li a {
  color: initial;
  text-decoration: initial;
}

header .menu li:hover a {
  color: #01acea;
}



/* --------  Slider  -------- */

section .imagem_fundo {
  background: url(img/sea-bg.jpg); /* https://www.pexels.com/photo/beach-sea-blue-endless-wild-nature-103567/ */
  background-size: 100% 100%;
  height: 35%;
  padding: 5% 0 50px 0;
}

section .centro {
  text-align: center;
}

section .titulo {
  font-family: 'Tahoma', sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 0px black;
}

section h1.titulo {
  font-size: 54px;
}

section h2.titulo {
  font-size: 30px;
  margin-bottom: 60px;
}

/* --------  Colunas  -------- */

.coluna {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.coluna.quatro {
  width: 23%;
  margin: 0 1%;
}

.coluna.tres {
  width: 31.3%;
  margin: 0 1%;
}

.coluna.dois {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.coluna.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.coluna .icone {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
}

.coluna .icone img{
  max-width: 60%;
  max-height: 60%;
  margin: 15px;
}

.coluna:hover > .icone {
  background: lightblue;
}

.coluna img {
  height: 300px;
  width: 100%;
}

.coluna.fundo {
  background: #FFF;
}

/* --------  Textos  -------- */

.bloco > h1:not(.titulo) {
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;

}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.esquerda {
  text-align: left;
}
.direita {
  text-align: right;
}
.centro {
  text-align: center;
}
.justificado {
  text-align: justify;
}


/* --------  Footer  -------- */

footer{
  background-color: #01acea;
  width: 100%;
}

footer .container {
  padding: 30px 0 50px 0;
}

/* --------  Responsividade  --------*/

@media all and (max-width: 768px) {
  .bloco {
    width: 95%;
  }
  .coluna.quatro {
    width: 48%;
    margin: 1%;
  }
  .header {
    height: auto;
    background: #eee;
  }
  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  .coluna, .coluna.quatro, .coluna.tres, .coluna.dois {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .menu {
    visibility: hidden;
  }
}

@media all and (max-width: 992px) {
  .bloco {
    width: 700px;
  }
  .coluna.dois {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
}

@media all and (min-width: 992px) {
  .bloco {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .bloco {
    width: 1170px;
  }
}